<h3 class="container col-6">
  Dados do Contato
</h3>
<div class="card container col-6">
  <form class="card-block" (ngSubmit)="enviarDados()" *ngIf="!enviado" #formulario="ngForm">
    <div class="form-group" [class.has-sucess]="nome.valid" [class-has-danger]="nome.invalid">
      <label for="nome">Nome</label>
      <input class="form-control" [class.form-control-sucess]="nome.valid" type="text" id="nome" [(ngModel)]="_nome" name="nome" #nome="ngModel" placeholder="digite o nome" required>
    </div>
  </form>
</div>